#sortable .list-group-item {
    border-top-width: 1px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.drag-item {
    cursor: pointer;
}

.highlight {
    background: #f7e7d3;
    min-height: 30px;
    list-style-type: none;
}

.alert .close {
    opacity: 1;
}

.nav-sidebar .nav-treeview li{
    padding-left: 10px;
}

.nav-sidebar .nav-treeview li a{
    font-size: 15px;
}

#allItems{
    max-height: 370px;
    overflow-y: scroll;
}
form#telegram-pack span.position-absolute{
    top: -2px;
    right: 1px;
}
