body{
    font-family: Nunito, sans-serif;
    font-size: 16px;
}
a:hover{
    text-decoration: none;
}
.mt-150{
    margin-top: 150px;
}
.card{
    width: 171px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card .image{
    overflow: hidden;
}
#sticker-packs .card{
    overflow: hidden;
    position: relative;
}
#sticker-packs .card-body{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#sticker-packs .card:hover img {
    transform: scale(.85); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#sticker-packs a{
    color: #333;
}
#sticker-packs a:hover{
    color: #555;
}
#sticker-packs .badge-warning{
    background: rgba(255,237,74, 0.6);
    position: absolute;
    right: 50px;
    top: 0px;
}
form input[type="button"]{
    font-size: 20px;
}
#top-bar, #hero-area, #graphics-designer, #awesome-features{
    background: #00b129;
}
video {
    margin-left: 19px;
    margin-top: 19px;
    width: 261px;
    height: 571px;
    border-radius: 22px;
}
video:focus{
    outline: none;
}
#hero-area .social-icons{
    padding: 0px 0 0 75px;
}
.title h2{
    text-shadow: 2px 4px 3px rgba(0,0,0,.3);
    margin: 0 15px;
}
section#hero-area h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 2.2rem;
}
.video-frame{
    background: url('/images/iphone_frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 607px;
    width: 300px;
    margin-top: 14px;
}
p.download-now-text {
    color: #101010;
    font-size: 24px;
    line-height: 1.475;
    cursor: auto;
    font-weight: 800;
    margin-bottom: 5px;
}
.download-now.card {
    border-radius: 1rem;
    background: #ffd011;
    border: 2px solid #fff;
    border-radius: 10px;
    min-width: 325px;
}
.yellow-bg-download .download-now.card{
    background: #00b129;
}
.yellow-bg-download p.download-now-text{
    color: #fff;
}
#how-to-make .number-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    background: #00b129;
    color: #fff;
    text-align: center;
    font: 32px Nunito,sans-serif;
    line-height: 1.6em;
    font-weight: 700;;
}
#how-to-make .text-block{
    margin-bottom: 20px;
    margin-left: 15px;
    width: 85%;
}
#awesome-features{
    color: #fff;
}
#awesome-features h3{
    color: #efefef;
}
h2.title {
    color: #151515;
    font-size: 2.2rem;
    line-height: 1.475;
    margin-bottom: .3rem;
    letter-spacing: .4rem;
    cursor: auto;
    font-weight: 800;
}
#pack-details div.image{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 148px;
    height: 148px;
    float: left;
    padding: 5px;
    margin: 5px;
    position: relative;
}
.water-mark{
    position: absolute;
    left: 19px;
    top: 69px;
    font-size: 12px;
    color: #333;
}
#pack-details img{
    max-width: 138px;
    max-height: 138px;
}
#pack-details a{
    font-size: 18px;
    text-decoration: underline;
}
.clear-both{
    clear: both;
}
#footer{
    padding-top: 40px;
    background: #323232;
    color: #fff;
    font-size: 16px;
}
#footer a{
    color: #ccc;
}
#footer a:hover{
    color: #fff;
}
#footer .social-icons li{
    display: inline;
}
.social-icons a{
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
}
.get-app-links a img{
    width: 140px;
}
.get-app-links p{
    color: #ffd011;
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px !important;
}
.get-app-links p:first-child{
    margin-top: 0 !important;
}
#footer .links a{
    margin-bottom: 5px;
    display: inline-block;
}
#footer hr{
    border-top: 1px solid #707070;
}
.app-links a{
    display: inline-block;
    margin-right: 10px;
}
.app-links a img{
    border-radius: 10px;
    width: 65px;
    margin-bottom: 10px;
}
.copyright{
    font-size: 13px;
}
.sticker-bg-1{
    background: #FF4500;
}
.sticker-bg-2{
    background: #DC143C;
}
.sticker-bg-3{
    background: #0000FF;
}
.sticker-bg-4{
    background: #FF4500;
}
.sticker-bg-5{
    background: #0049B7;
}
.sticker-bg-6{
    background: #8600ec;
}
.sticker-bg-7{
    background: #ec1c00;
}
.sticker-bg-8{
    background: #ecec00;
}
.sticker-bg-9{
    background: #0014ec;
}
.sticker-bg-10{
    background: #ec3b00;
}
.sticker-bg-11{
    background: #004bec;
}
.sticker-bg-12{
    background: #00ecd4;
}
.sticker-bg-13{
    background: #e0ec00;
}
.sticker-bg-14{
    background: #008eec;
}
.sticker-bg-15{
    background: #8600ec;
}
.sticker-bg-16{
    background: #ec00a5;
}
.sticker-bg-17{
    background: #ec004f;
}
.sticker-bg-18{
    background: #d4ec00;
}
.sticker-bg-19{
    background: #00ec23;
}
.sticker-bg-20{
    background: #60f7b7;
}
.sticker-bg-21{
    background: #b0b4f5;
}
